<%= form_with(model: blog,data: {controller: 'emoji-picker'}) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <%= content_tag :div, "", class: "pickerContainer",data: {emoji_picker_target: "pickerContainer"} %>
  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.rich_text_area :body,data: {emoji_picker_target: 'trixEditor'} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
